* {
  padding: 0;
  margin: 0; }

body {
  background-color: azure; }

.head {
  background-color: azure;
  display: grid;
  grid-template-rows: 1fr;
  border: 1px solid black; }
  .head .logo {
    display: grid;
    grid-area: 1fr; }
    .head .logo img {
      display: block;
      margin-left: auto;
      margin-right: auto; }
  .head .titulo {
    display: grid;
    grid-area: 1fr;
    font-size: 1.5em;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif; }
    .head .titulo h1 {
      word-wrap: break-word; }
  .head .menu {
    display: grid;
    grid-area: 1fr; }
    .head .menu .lista {
      padding-top: .4em;
      display: flex;
      flex-direction: column;
      -ms-flex-align: center;
      gap: .3em; }
      .head .menu .lista li {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 1em;
        text-align: center;
        display: block;
        list-style: none; }
        .head .menu .lista li:hover .sub_lista {
          display: block; }
        .head .menu .lista li a {
          text-decoration: none;
          color: black;
          margin-top: 1em; }
        .head .menu .lista li .sub_lista {
          display: none; }
          .head .menu .lista li .sub_lista a {
            color: black;
            text-decoration: none; }
          .head .menu .lista li .sub_lista:hover a {
            color: white; }
      .head .menu .lista:hover a {
        color: white;
        background-color: #4d4d4d; }

@media screen and (min-width: 1024px) {
  .head {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 8em; }
    .head .logo {
      margin: auto; }
    .head .titulo {
      margin: auto; }
    .head .menu {
      grid-area: 1fr; }
      .head .menu .lista {
        padding-top: .4em;
        display: flex;
        gap: 10px;
        margin: auto;
        flex-direction: row; }
        .head .menu .lista .sub_lista {
          position: absolute; }
    .head .logo {
      grid-area: 1fr; }
    .head .titulo {
      grid-area: 1fr; } }

.art_a {
  display: grid;
  grid-area: "foto_a" "box_a_1" "foto_b" "box_b_1";
  grid-template-rows: 1fr;
  margin: 1.5em; }
  .art_a .foto_a {
    display: grid;
    grid-area: "foto_box_a";
    margin-top: 2em;
    margin-right: auto;
    margin-left: auto; }
  .art_a .box_a_1 {
    display: grid;
    grid-area: "box_a_1"; }
    .art_a .box_a_1 .sub_box_a_1 {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      margin-top: 20px; }
      .art_a .box_a_1 .sub_box_a_1 h2 {
        text-align: center;
        font-size: 30px; }
      .art_a .box_a_1 .sub_box_a_1 p {
        margin-top: 1rem;
        text-align: justify;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 22px; }
  .art_a .foto_b {
    display: grid;
    grid-area: "foto_box_b";
    margin-right: auto;
    margin-left: auto;
    margin-top: 6em; }
  .art_a .box_b_1 {
    display: grid;
    grid-area: "box_b_1"; }
    .art_a .box_b_1 .sub_box_b_1 {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      margin-top: 20px; }
      .art_a .box_b_1 .sub_box_b_1 h2 {
        text-align: center;
        font-size: 30px; }
      .art_a .box_b_1 .sub_box_b_1 p {
        text-align: justify;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 22px;
        margin-top: 1rem; }

@media screen and (min-width: 1024px) {
  .art_a {
    display: grid;
    grid-area: "foto_a box_a" "foto_b box_b";
    grid-template-columns: 1fr 1fr; }
    .art_a .foto_a {
      display: grid;
      grid-area: "foto_a"; }
    .art_a .box_a_1 {
      display: grid;
      grid-area: "box_a"; }
    .art_a .foto_b {
      display: grid;
      grid-area: "foto_b"; }
    .art_a .box_b_1 {
      display: grid;
      grid-area: "box_b"; } }

#foot {
  display: grid;
  grid-template-rows: 1fr 1fr;
  border: 1px solid black;
  height: 150px; }
  #foot .foot1 {
    grid-template-rows: 1fr;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em; }
  #foot .foot2 {
    grid-template-rows: 1;
    text-align: center;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 1em; }
    #foot .foot2 a {
      text-decoration: none;
      color: black; }
    #foot .foot2 .btn--facebook {
      background-color: #695252; }
    #foot .foot2 .btn--Inicio {
      background-color: #695252; }
    #foot .foot2 .btn--instagram {
      background-color: #695252; }

@keyframes title {}@media screen and (min-width: 1024px) {
  #foot {
    display: grid;
    grid-template-columns: 1fr 1fr; }
    #foot .foot1 {
      grid-area: 1fr; }
    #foot .foot2 {
      grid-area: 1fr; } }

#section {
  background-color: azure;
  margin-top: 12px;
  height: 700px; }
  #section div {
    position: relative;
    margin: 0 auto; }
    #section div .titulo__2 {
      font-size: 35px;
      text-align: center;
      position: relative;
      margin-bottom: 100px; }
    #section div form {
      margin: 0 auto;
      padding: 10px;
      width: 300px;
      background-color: #333;
      color: #ddd; }
      #section div form input, #section div form textarea {
        border: 0;
        outline: none;
        width: 250px; }
      #section div form .formulario {
        border: solid 1px #333;
        padding: 12px; }
      #section div form > p {
        text-align: center; }
      #section div form:focus {
        border-color: azure; }
      #section div form .center__content {
        text-align: center; }
      #section div form .btn {
        background-color: azure;
        border: #ddd 2px solid; }
