#foot {
    display: grid;
    grid-template-rows: 1fr 1fr;
    border: 1px solid black;
    height: 150px;
    margin-top: 3em;
    .foot1 {
        grid-template-rows: 1fr;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2em;
    }

    .foot2 {
        grid-template-rows: 1;
        text-align: center;
        font-size: 30px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        margin-top: 1em;
        a {
            text-decoration: none;
            color: black;
        }
        $redes: (
            facebook: rgb(105, 82, 82),
            Inicio: rgb(105, 82, 82),
            instagram: rgb(105, 82, 82),
        );

        @each $red, $color in $redes {
          .btn--#{$red}{
            background-color: $color;
          } 
        }
        
    }
}

@keyframes title {}

@media screen and (min-width:701px) and (max-width:870px) {
     #foot {margin-top: 45em;}   
}


@media screen and (max-width: 700px) {
    #foot {margin-top: 10em;}        
}

@media screen and (min-width: 871px) {
    #foot {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 15em;

        .foot1 {
            grid-area: 1fr;
        }

        .foot2 {
            grid-area: 1fr;
        }
    }
}